{% extends 'base.html' %}

{% block title %}
<title>Unit School: HOME</title>
{% endblock %}

{% block content %}
<h1>Posts</h1>
<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item bg-light mb-2">
        <b>Title:</b> {{ post.title|upper }} <br>
        <b>Description:</b> {{ post.description }}
        <br>
        <div class="action-btns d-flex justify-content-end mt-3">
            <a class="btn btn-info btn-sm mx-2" href="{% url 'update_post' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mx-2" href="{% url 'delete_post' post.id %}">Delete</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}