<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>{{content}}</p>

    <!-- JINJA -->
    <ul>
        {% for post in posts %}
            <li>
                <b>Title:</b> {{ post.title|upper }} <br>
                <b>Description:</b> {{ post.description }}
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>

</html>